@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", serif;
}

body {
  background-color: #f7f7f7;
  color: #111111;
}

nav img {
  width: 3rem;
}

nav > div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-weight: 500;
}

.nav-links {
  gap: 32px;
}

.primary-btn {
  background-color: #fea301;
  color: #ffffff;
  padding: 16px 64px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.primary-btn:hover {
  scale: 1.05;
}

.primary-btn:active {
  scale: 0.95;
}

.burger-container {
  display: none;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

nav {
  z-index: 10;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  top: 0px;
  left: 0px;
  height: 100px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

marquee {
  margin-top: 100px;
}

.orange {
  color: #fea301;
}

.blue {
  color: #01acfd;
}

.aqua {
  color: #05d4df;
}

.purple {
  color: #5d58ef;
}

header {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

header h1 {
  max-width: 600px;
  font-size: 58px;
  line-height: 64px;
}

header p {
  max-width: 640px;
  margin: 32px 0px;
  font-size: 20px;
}

.secondary-btn {
  background-color: #111111;
  color: #ffffff;
  padding: 16px 64px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.secondary-btn:hover {
  scale: 1.05;
}

.secondary-btn:active {
  scale: 0.95;
}

#standard-curriculum {
  background-image: url("./assets/bg.png");
  padding: 100px 150px;
  text-align: center;
}

#standard-curriculum > h1 {
  font-size: 64px;
  margin-bottom: 32px;
}

#card-container {
  display: flex;
  gap: 32px;
  margin: 64px 0px;
}

#card-container > :first-child {
  background: #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, #ffffff 50%);
  border-radius: 20px;
  border: 2px solid #def5ff;
  padding: 32px;
}

#card-container > :first-child > button {
  background-color: transparent;
  color: #64c8ff;
  border: none;
  margin-top: 32px;
}

#card-container > :nth-child(2) {
  background: #fff4dc;
  background: linear-gradient(180deg, #fff4dc 0%, #ffffff 50%);
  border-radius: 20px;
  border: 2px solid #fff4dc;
  padding: 32px;
}

#card-container > :nth-child(2) > button {
  background-color: transparent;
  color: #f0aa00;
  border: none;
  margin-top: 32px;
}

#card-container > :last-child {
  background: #eee1ff;
  background: linear-gradient(180deg, #eee1ff 0%, #ffffff 50%);
  border-radius: 20px;
  border: 2px solid #f2e8ff;
  padding: 32px;
}

#card-container > :last-child > button {
  background-color: transparent;
  color: #8700ff;
  border: none;
  margin-top: 32px;
}

#arrow-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.arrow {
  background-color: #fea301;
  color: #ffffff;
  border: none;
  border-radius: 100%;
  padding: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.arrow:hover {
  scale: 1.05;
}

.arrow:active {
  scale: 0.95;
}

#standard-curriculum img {
  height: 100px;
}

#standard-curriculum h2 {
  margin: 32px;
}

#story {
  background-image: url("./assets/bg.png"),
    linear-gradient(180deg, #f7f7f7 30%, #fea301 200%);
  padding: 100px 0px;
}

#story > h1 {
  font-size: 64px;
  text-align: center;
  margin: 32px;
}

.parent {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 64px;
}

.card-large {
  background-color: #ffffff;
  border-radius: 20px;
  padding-bottom: 32px;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  padding-bottom: 32px;
  width: 250px;
  height: 250px;
  margin-bottom: 24px;
}

.card-large img,
.card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.card h2 {
  font-size: 16px;
  max-width: 300px;
  margin: 12px 24px;
}

.card-large h2 {
  width: 500px;
  margin: 24px;
}

.details {
  width: 500px;
  margin: 24px;
}

.badge {
  background-color: #3cd8e8;
  color: #ffffff;
  border-radius: 200px;
  width: fit-content;
  padding: 12px 24px;
  position: relative;
  top: -24px;
  left: 32px;
  font-weight: 600;
}

.box2 {
  display: flex;
  gap: 24px;
}

.btn-box {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

footer > div {
  width: fit-content;
}

.footer-details {
  width: 360px;
  margin-top: 32px;
}

.link-box {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link-box a {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  scale: 0.8;
}

.footer-logo {
  width: 36px;
  margin-top: 16px;
}

.footer-main-box {
  display: flex;
  gap: 16px;
}

footer {
  padding: 100px;
  background-color: #01acfd;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  header {
    margin: 0px 100px;
  }

  #card-container {
    flex-direction: column;
    justify-content: center;
  }

  #arrow-container {
    display: none;
  }

  footer {
    flex-direction: column;
    gap: 64px;
  }
}

@media screen and (max-width: 999px) {
  header img {
    width: 80vw;
  }

  #standard-curriculum {
    padding: 100px 0px;
  }

  .nav-links {
    display: none;
  }

  nav button {
    display: none;
  }

  nav {
    border-bottom: 1px solid #fea301;
  }

  .burger-container {
    display: flex;
  }

  header {
    flex-direction: column-reverse;
    text-align: center;
  }

  #card-container {
    flex-direction: column;
    justify-content: center;
    margin: 20px;
  }

  #arrow-container {
    display: none;
  }

  #story {
    margin: 0px;
  }

  .box1 {
    display: none;
  }

  .box2 {
    gap: 0px;
  }

  .card {
    margin: -48px -20px;
    scale: 0.8;
  }

  footer {
    flex-direction: column;
    gap: 64px;
    padding: 36px;
  }
}
